body {
  margin: 0;
  padding: 0;
  font-family: Seravek, "Gill Sans Nova", Ubuntu, Calibri, "DejaVu Sans",
    source-sans-pro, sans-serif;
  font-weight: normal;
  background-color: rgb(4, 4, 38);
  color: white;
}

h1 {
  font-size: 45px;
  margin-bottom: 20px;
  font-family: Avenir, Montserrat, Corbel, "URW Gothic", source-sans-pro,
    sans-serif;
  font-weight: normal;
  padding: 20x;
}

h3 {
  font-size: 20px;
  margin-bottom: 20px;
  font-family: Avenir, Montserrat, Corbel, "URW Gothic", source-sans-pro,
    sans-serif;
  display: flex;
  padding: 10px;
}

h2 {
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 10px;
  display: flex; /* Use Flexbox */
  text-align: center;
  font-family: Avenir, Montserrat, Corbel, "URW Gothic", source-sans-pro,
    sans-serif;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
  text-align: center;
}

.start_here {
  display: flex; /* Use flexbox to align items horizontally */
  justify-content: space-between; /* Add space between the boxes */
  text-align: center;
  padding: 50px;
}

.box {
  width: calc(50% - 10px); /* Set width to half of the container with spacing */
  padding: 20px;
  border: 1px solid #ccc;
  box-sizing: border-box; /* Include padding and border in the width calculation */
  font-family: Avenir, Montserrat, Corbel, "URW Gothic", source-sans-pro,
    sans-serif;
  text-align: center;
}

Link {
  color: white;
}
